.git
.github
.next
node_modules
coverage
build
out
outputs
work
.agents
.codex

.env
.env.*
!.env.example
!.env.production.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.pem
*.tsbuildinfo
Dockerfile
docker-compose*.yml
